<div id="block-forms" class="block">
	<div class="secondary-navigation">
	</div>

	<div class="content">
		<h2>Editando Funcionário</h2>
		<div class="inner">
			<% form_for(@employee) do |f| %>
			  <%= render :partial => 'form', :object => f -%>
			<% end %>
		</div>
	</div>
</div>