<div id="block-forms" class="block">
	<div class="secondary-navigation">
	</div>

	<div class="content">
		<h2>Novo Funcionário</h2>
		<div class="inner">
			<% form_for(@employee) do |f| %>
			  <%= render :partial => 'form', :object => f -%>

				<p>
				  <%= f.submit 'Criar' %>
				</p>

				<%= link_to 'Voltar', employees_path %>
			<% end %>
		</div>
	</div>
</div>