/* Override here any style definide by web-app-theme */
#errorExplanation {
  padding: 7px 7px 0 7px;
  margin-bottom: 30px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  background: #C00;
  color: #FFF;
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  margin: -7px;

  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
}

#main .block .content #errorExplanation h2 {
  margin-left: -7px;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 10px 5px;
}

#errorExplanation ul {
  margin-left: 20px;
  padding-bottom: 10px;
}

div#errorExplanation ul li {
  font-size: 13px;
  list-style: square;
}