<div id="block-tables" class="block">
	<div class="secondary-navigation">
	</div>
	
	<div class="content">
    <h2 class="title">Listando Cargos</h2>
    <div class="inner">
      <table class="table">
				<tbody>
					<tr>
          	<th>Nome</th>
           	<th class="last">&nbsp;</th>
					</tr>
					<% @roles.each do |role| %>
				  	<tr>
							<td><%=h role.name %></td>
				    	<td class="last">
					    	<%= link_to 'Editar', edit_role_path(role) %> |
				    		<%= link_to 'Deletar', role, :confirm => 'Você tem certeza?', :method => :delete %>
							</td>
				  	</tr>
					<% end %>
				</tbody>
			</table>
		
			<div class="actions-bar wat-cf">
        <div class="pagination">
        </div>
      </div>
			<%= link_to 'Novo Cargo', new_role_path %>
		</div>
	</div>

</div>